<div id="search_wrap">
	<div id="search_wrap_left">
		<div class="search_item">
			<div class="search_item_div_left"></div>
			<div class="search_item_div_right">
				<div class="search_item_top">
					<div class="search_item_titlescore"><font class="item_text1" id="firm_level"></font></div>
					<div class="search_item_titlediv"><font class="item_text1"><%= value.title %></font></div>
					<div class="clear"></div>
				</div>
				<div class="search_item_middle">
					<div class="pic_left_textdiv">
						<dl>
							<dt><font class="item_text1">編號:</font></dt><dd><font class="item_text3b"><%= value.no %></font></dd>
							<dt><font class="item_text1">所在縣市:</font></dt><dd><font class="item_text3b" id="firm_city"></font></dd>
							<dt><font class="item_text1">所在鄉鎮:</font></dt><dd><font class="item_text3b" id="firm_ctry"></font></dd>
							<dt><font class="item_text1">地址:</font></dt><dd><font class="item_text3b"><%= value.addr %></font>
							<dt><font class="item_text1">市話:</font></dt><dd><font class="item_text3b"><%= value.phone %></font></dd>
							<dt><font class="item_text1">平均價位:</font></dt><dd><font class="item_text3b"><%= value.price %></font></dd>
						</dl>
					</div>
					<div class="search_item_pic"><img src="/public/images/example.jpg"></div>
					<div class="clear"></div>
					<div class="search_item_textdiv"><font class="item_text2">其他相關資訊:</font></div>
					<div class="search_item_textdiv"><font class="item_text2">傳真:</font><font class="item_text3"><%= value.fax %></font></div>
					<div class="search_item_textdiv"><font class="item_text2">功能分類:</font><font class="item_text3" id="firm_type"></font></div>
					<div class="search_item_textdiv"><font class="item_text2">長照2.0類型分類:</font><font class="item_text3" id="firm_type2"></font></div>
					<div class="search_item_textdiv" id="firmView"></div>
				</div>
				<div id="chat_and_replay">
                    <div class="chat_text bg_grey">
                        <div class="userid">範例使用者:</div>
                        <div class="usertext" id="data_1">範例留言</div>
						<div class="pmdiv">
							<textarea class="pmreply" id="reply_text_1" style="resize: none;overflow: auto;" rows="10" cols="50"></textarea>
							<div class="pmid" id="pmid_1">官方回覆:</div>
							<div class="pmtext" id="reply_1">範例回覆</div>
						</div>
                    </div>
                </div>
				<div class="search_item_bottom">
					<div class="guestComment">
						<div class="search_item_textdiv"><font class="item_text2">留言板:</font></div>
				        <textarea id="CommentMessage" style="resize: none;overflow: auto;" rows="10" cols="50"></textarea>
				    </div>
				    <center><button type="submit" class="button_red">發送</button></center>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div id="search_wrap_right">
		<div id="other_div">
			<div class="other1">
				<div class="div_top"></div>
				<div class="wrap">
				<p>最新消息</p>
				<div>xxx</div>
				</div>
			</div>
			<div class="other2">
				<div class="div_top"></div>
				<div class="wrap">
				<p class="item_text1">想找機構、看護、照服員？</p>
				<p class="item_text1">好的，請交給我們!</p>
				<p class="item_text3">XXXXXX@XXXXX.XXX.XXX</p>
				</div>
			</div>
		</div>
		<div id="FB_div">
			<div id="FB_div_top"></div>
			<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FJackyleedesign%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
		</div>
	</div>
	<div class="clear"></div>
	<div class="color_div"></div>
</div>
<button onclick="editSumit()">確認</button>
<button onclick="history.go(-1)">返回</button>
<script>
    $(document).ready(function(){
        var typeA = ["安養機構","養護機構","長期照顧中心","護理之家"];
        var type2A = ["A.社區整合服務中心","B.複合型日間照護中心","C.巷弄長照站"];
        var level = ["優","甲","乙","丙"];
        $("#firm_type").text(typeA[<%= value.type%>]);
        $("#firm_type2").text(type2A[<%= value.type2%>]);
        $("#firm_level").text(level[<%= value.level%>]);
        $("#firmView").html(decodeURIComponent('<%= value.html %>'));
        $("#firm_city").text(TAR.getCity(<%= value.city %>));
        $("#firm_ctry").text(TAR.getCountry(<%= value.city %>,<%= value.ctry %>));
    });
    function editSumit() {
        $.post('/backStage/firm/editSumit', {
            no: "<%= value.no%>",
            title: "<%= value.title%>",
            city: "<%= value.city%>",
            ctry: "<%= value.ctry%>",
            addr: "<%= value.addr%>",
            phone: "<%= value.phone%>",
            fax: "<%= value.fax%>",
            type: "<%= value.type%>",
            type2: "<%= value.type2%>",
            level: "<%= value.level%>",
            price: "<%= value.price%>",
            html: "<%=value.html%>",
            action: '<%= value.action%>'
        }, function (status) {
            if (status == "success") location.href = "./";
        });
    }
</script>