<!DOCTYPE html>
<html>
	<head>
		<title><%= Title%></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="/public/css/w3.css">
	    <link rel="stylesheet" href="/public/css/backStage.css">
		<link rel="stylesheet" href="/public/js/toastr/toastr.min.css">
		<script src="/public/js/jquery.js"></script>
		<script src="/public/js/jquery.validate.js"></script>
		<script src="/public/js/toastr/toastr.min.js"></script>
		<script src="/public/js/backStage.js"></script>
		<% CSSs.forEach(function(CSS){ %>
			<link rel="stylesheet" href= <%= CSS%>>
		<% });%>
		<% JavaScripts.forEach(function(JavaScript){ %>
			<script src=<%= JavaScript%>></script>
		<% });%>
	</head>
	<body>
		<div id="wrap_top">
			<div id="logopic">
				<a href="/front"><img src="/public/images/logo.png"/></a>
			</div>
			<div class="wrap_top_hr"></div>
			<p class="wrap_top_p">會員中心</p>
			<div id="member"><span id="user"><a><%= Login%></a></span><span id="logout"><a>登出</a></span></div>
			<div class="clear"></div>
	    </div>
    <div id="wrap_top_hide"></div>
	<div id="wrap_body">
		<div id="wrap_left">
			<% if(Authority.AA01!=null){ %>
				<li><a href="/backStage/account">會員管理</a></li><br/>
			<% } %>
			<% if(Authority.AA02!=null){ %>
				<li><a href="/backStage/firm">機構管理</a></li><br/>
			<% } %>
			<% if(Authority.AA03!=null){ %>
				<li><a href="">機構留言</a></li><br/>
			<% } %>
			<li><a href="">個人資料</a></li><br/>
			<div class="clear"></div>
		</div>
		<div class="wrap_body_hr"></div>
		<div id="wrap_right">
			<% Include.forEach(function(IObject){%>
				<%- include(IObject.url,{value:IObject.value})%>
			<%});%>
		</div>
		<div class="clear"></div>
	</div>
	<div id="wrap_footer">
	</div>
	
	</body>
</html>