<!DOCTYPE html>
<html>
	<head>
		<title><%= Title%></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="/public/css/w3.css">
		<link rel="stylesheet" href="/public/css/front.css">
		<link rel="stylesheet" href="/public/js/toastr/toastr.min.css">
		<script src="/public/js/jquery.js"></script>
		<script src="/public/js/socket.io.js"></script>
		<script src="/public/js/modernizr.custom.97074.js"></script>
		<script src="/public/js/front.js"></script>
		<script src="/public/js/jquery.validate.js"></script>
		<script src="/public/js/toastr/toastr.min.js"></script>
		<% CSSs.forEach(function(CSS){ %>
			<link rel="stylesheet" href= <%= CSS%>>
		<% });%>
		<% JavaScripts.forEach(function(JavaScript){ %>
			<script src=<%= JavaScript%>></script>
		<% });%>
		<% if(Login!=null){%>
			<script>
				var rsid = null;
				$(document).ready(function() {
    				$("#side_hidden_exit").click(closeMessage);
    				$(".input_message" ).on( "keydown", function( event ) {
						if(event.keyCode==13) {
							if(rsid==null){
								$(".output_message").append('<div class="user_message mine">'+$(".input_message").val()+'</div><div class="clear"></div>');
							}else{
								$(".output_message").append('<div class="pm_message mine">'+$(".input_message").val()+'</div><div class="clear"></div>');
							}
							sendMessage(rsid,$(".input_message").val());
							$(".input_message").val("");
						}
					});
				});
				<% if(isManger){ %>
					var hiddenMessage = [];
					var MessageViewing = 0;
					var ReadMessageing = false;
					function openMessage(){//搜尋訊息列表
						ReadMessageing = true;
					    $.post("/message/getMessageList", {}, function(data) {
					        if(typeof data === "object"){
					            var MessageList = [];
					            $(".side_showpeople").empty();
					            data.forEach(function(value){
					                if(hiddenMessage[value.no] == null){
					                    if(MessageList[value.no]==null){
					                    	MessageList[value.no] = 1 - value.isRead;
					                        $(".side_showpeople").append('<div class="showpeople_user">'
					    							+'<span class="showpeople_user_delete" onclick="deleteMessage('+value.no+')"><img src="/public/images/delete.png"></span>'
					    							+"<span class='showpeople_user_id' onclick='showMessage("+value.no+',"'+value.nickName+'")'+"'>"+value.nickName+"</span>"
					    							+'<span class="showpeople_user_read"><font color="#FF8888" id="unreadMsgCount_'+value.no+'">'+MessageList[value.no]+'</font> 則未讀</span>'
					    						+'</div>');
					    					
					                    }else{
					                        MessageList[value.no] += 1 - value.isRead;
					                        $('#unreadMsgCount_'+value.no).text(MessageList[value.no]);
					                    }
					                }
					            });
					        }
					    }, 'json');
					    $(".side_content_pm").slideUp();
					    $(".side_showpeople").slideDown();
					    $(".side_hidden_pm").slideDown();
					}
					function closeMessage(){
						ReadMessageing = false;
					    $(".side_hidden_pm").slideUp();
					}
					function deleteMessage(no){
					    hiddenMessage[no] = true;
					    openMessage();
					}
					function showMessage(no,name){//搜尋訊息詳細
					    $.post("/message/getMessage", {
					        no:no
					    }, function(data) {
					        if(typeof data === "object"){
					            $("#side_hidden_title_pm").text(name);
					            MessageViewing = no;
					            data.forEach(function(value){
					                if(value.sender==no){//接收
					                	if(value.isRead==0) updateReadStatus(value.no);
					                    $(".output_message").append('<div class="user_message">'+value.text+'</div><div class="clear"></div>');
					                }else{//發送
					                    $(".output_message").append('<div class="pm_message mine">'+value.text+'</div><div class="clear"></div>');
					                }
					            });
					            rsid = no;
					            $(".side_showpeople").slideUp(null,function(){
					                $(".side_content_pm").slideDown();
					            });
					        }
					    }, 'json');
					}
					var SOCKET = io();
					SOCKET.on("SendMessage",function(msg){//接收
						if(MessageViewing==msg.SenderNO){
							if(ReadMessageing) updateReadStatus(msg.NO);
				        	$(".output_message").append('<div class="user_message">'+msg.Message+'</div><div class="clear"></div>');
				        }
					});
				<% }else{ %>
						var ReadMessageing = false;
						function openMessage(){
							ReadMessageing = true;
							$.post("/message/getMessage", {}, function(data) {
						        if(typeof data === "object"){
						            data.forEach(function(value){
						                if(value.sender!=<%= Login.no%>){//接收
						                	if(value.isRead==0) updateReadStatus(value.no);
						                    $(".output_message").append('<div class="pm_message">'+value.text+'</div><div class="clear"></div>');
						                }else{//發送
						                    $(".output_message").append('<div class="user_message mine">'+value.text+'</div><div class="clear"></div>');
						                }
						            });
						        }
						        $(".side_content_pm").slideUp();
								$(".side_showpeople").slideDown();
								$(".side_hidden_pm").slideDown();
						    }, 'json');
						}
						function closeMessage(){
							ReadMessageing = false;
						    $(".side_hidden_pm").slideUp();
						}
						var SOCKET = io();
						SOCKET.on("SendMessage",function(msg){//接收
							if(ReadMessageing) updateReadStatus(msg.NO);
					        $(".output_message").append('<div class="pm_message">'+msg.Message+'</div><div class="clear"></div>');
						});
				<% } %>
			</script>
		<% } %>
	</head>
	<body>
		<div style="position:relative; min-height:100%;">
			<div class="member_box" id="member_box_login">
				<div class="member_box_top"></div>
				<div class="member_box_scroll">
					<form id="form_login">
						<div class="member_box_text1">
		                	會員帳號：
		                	<input  class="member_box_input" name="m_login_account" value="" type="text">
		                </div>
		
		                <div class="member_box_text2">
		                	密碼：
		                	<input  class="member_box_input" name="m_login_password" type="password">
		                </div>
			            <div class="clear"></div>   
				        <div class="small_button">
				            <button type="button" class="button_blue" style="margin-right:10px">忘記密碼?</button>
				            <button type="button" onclick="showRegister()" class="button_blue" style="margin-left:10px">註冊</button>
				        </div>
				        <div class="all_button">
				            <button type="button" class="button_red" onclick="SendLoginData()">確認送出</button>
				        </div>
			        </form>
				</div>
				<div class="member_box_bottom"></div>
			</div>
			<div class="member_box" id="member_box_register">
				<div class="member_box_top"></div>
				<div class="member_box_scroll">
					<form id="form_register">
						<div class="member_box_text1">
		                	帳號：
		                	<input  class="member_box_input" name="m_register_account" value="" type="text">
		                </div>
		
		                <div class="member_box_text3">
		                	密碼：
		                	<input  class="member_box_input" name="m_register_password" type="password">
		                </div>
		                <div class="member_box_text3">
		                	確認密碼：
		                	<input  class="member_box_input" name="m_register_password_check" type="password">
		                </div>
		                <div class="member_box_text3">
		                	暱稱：
		                	<input  class="member_box_input" name="m_register_nickname" type="text">
		                </div>
		                <div class="member_box_text3">
		                	信箱：
		                	<input  class="member_box_input" name="m_register_mail" type="text">
		                </div>
						<div class="member_box_text3">
		                	手機：
		                	<input  class="member_box_input" name="m_register_phone" type="text">
		                </div>
		                <!--<div class="member_box_text3">
		                	非機器人認證：
		                	<input  class="member_box_input" name="m_usercheck" type="text">
		                </div>-->
		
		                <div class="member_box_text3">
		                	使用條例：
		                	<div  class="member_box_usetext">我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範</div>
		                </div>
		                <div class="member_box_text3">
		                	我同意使用條例的規範:
		                	<input  class="member_box_input" name="m_register_yes" type="checkbox">
		                </div>
			            <div class="clear"></div>   
				        <div class="all_button">
				            <button type="button" class="button_red" onclick="SendRegisterData()">確認送出</button>
				        </div>
			       	</form>
				</div>
				<div class="member_box_bottom"></div>
			</div>
			<div class="member_box_bg"></div>
			<div id="wrap_top">
				<div id="logopic">
					<img src="/public/images/logo.png">
				</div>
				<ul>
					<a href="/front"><li>首頁</li></a>
					<a href="/front/firmSearch"><li>搜尋機構</li></a>
					<a href=""><li>合作夥伴</li></a>
					<a href=""><li>未來展望</li></a>
					<a href=""><li>常見問題</li></a>
				</ul>
				<div id="member">
					<% if(Login==null){%>
						<span id="login"><a>登入</a></span>
						<span id="register"><a>註冊</a></span>
					<% }else{ %>
						<span id="backstage"><a><%= Login.name%></a></span>
						<span id="logout"><a>登出</a></span>
					<% } %>
				</div>
				<div class="clear"></div>
			</div>
			<div id="wrap_top_hide"></div>
			<% if(Login!=null){ %>
				<div id="side">
				    <a onclick="openMessage()">
				    	<img src="/public/images/message.png">
				    </a>
				</div>
				<% if(isManger){ %>
					<div class="side_hidden_pm">
						<div id="side_hidden_top">
							<div id="side_hidden_exit">
								<img src="/public/images/exit.png">
							</div>
						</div>
						<div class="side_showpeople"></div>
						<div class="side_content_pm">
							<div id="side_hidden_title_pm"></div>
							<span onclick="openMessage()">返回</span>
							<div class="output_message"></div>
							
						</div>
						<div class="clear"></div>
						<input class="input_message" value="" type="text"></input>
					</div>
				<% }else{ %>
					<div class="side_hidden_pm">
						<div id="side_hidden_top">
							<div id="side_hidden_exit">
								<a><img src="/public/images/exit.png"></a>
							</div>
						</div>
						<div id="side_hidden_title_user">
							- 有任何問題直接留言，客服人員幫您解決 -
						</div>
						<div class="side_content_user">
							<div class="output_message">
								<div class="pm_message">
									您好，有甚麼我能為您服務的嗎?
								</div>
							</div>
						</div>
						<div class="clear"></div>
						<input class="input_message" value="" type="text"></input>
					</div>
				<% } %>
			<% } %>
			<% Include.forEach(function(IObject){ %>
				<%- include(IObject.url,{value:IObject.value}) %>
			<% }); %>
			<div class="clear"></div>
			<div id="white_box"></div>
	        <div id="side">
			    <a href="">
			    	<!--<img src="/public/images/side_message.png">-->
			    </a>
			</div>
		</div>
		<div class="clear"></div>
        <div id="white_box"></div>
        <div id="footer">
			<div class="footer_text1">
		        地址：722 台南市佳里區佳南路532號<br>
		        電話：06-7228331 <br>傳真：06-7230786
			</div>
		    <div class="footer_text2">
		    	<span class="service_tele">消費者服務專線：0800-258998</span><br>
		        <span class="service_mail">信箱：<a href="mailto:tn28819262@yahoo.com.tw">tn28819262@yahoo.com.tw</a></span>
		    </div>
		    <div class="clear"></div>
		    <div id="copyright">
				<img id="footerpic" src="/public/images/footer.png" alt="">
			</div>
		</div>
	</body>
</html>
