<!DOCTYPE html>
<html>
	<head>
		<title><%= Title%></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="/public/css/w3.css">
		<link rel="stylesheet" href="/public/css/front.css">
		<link rel="stylesheet" href="/public/js/toastr/toastr.min.css">
		<script src="/public/js/jquery.js"></script>
		<script src="/public/js/modernizr.custom.97074.js"></script>
		<script src="/public/js/front.js"></script>
		<script src="/public/js/jquery.validate.js"></script>
		<script src="/public/js/toastr/toastr.min.js"></script>
		<% CSSs.forEach(function(CSS){ %>
			<link rel="stylesheet" href= <%= CSS%>>
		<% });%>
		<% JavaScripts.forEach(function(JavaScript){ %>
			<script src=<%= JavaScript%>></script>
		<% });%>
	</head>
	<body>
		<div style="position:relative; min-height:100%;">
			<div class="member_box_login">
				<div class="member_box_top"></div>
				<div class="member_box_scroll">
					<form id="form_login">
						<div class="member_box_text1">
		                	會員帳號：
		                	<input  class="member_box_input" name="m_login_account" value="" type="text">
		                </div>
		
		                <div class="member_box_text2">
		                	密碼：
		                	<input  class="member_box_input" name="m_login_password" type="password">
		                </div>
			            <div class="clear"></div>   
				        <div class="small_button">
				            <button type="button" class="button_blue" style="margin-right:10px">忘記密碼?</button>
				            <button type="button" onclick="showRegister()" class="button_blue" style="margin-left:10px">註冊</button>
				        </div>
				        <div class="all_button">
				            <button type="button" class="button_red" onclick="SendLoginData()">確認送出</button>
				        </div>
			        </form>
				</div>
				<div class="member_box_bottom"></div>
			</div>
			<div class="member_box_register">
				<div class="member_box_top"></div>
				<div class="member_box_scroll">
					<form id="form_register">
						<div class="member_box_text1">
		                	帳號：
		                	<input  class="member_box_input" name="m_register_account" value="" type="text">
		                </div>
		
		                <div class="member_box_text3">
		                	密碼：
		                	<input  class="member_box_input" name="m_register_password" type="password">
		                </div>
		                <div class="member_box_text3">
		                	確認密碼：
		                	<input  class="member_box_input" name="m_register_password_check" type="password">
		                </div>
		                <div class="member_box_text3">
		                	暱稱：
		                	<input  class="member_box_input" name="m_register_nickname" type="text">
		                </div>
		                <div class="member_box_text3">
		                	信箱：
		                	<input  class="member_box_input" name="m_register_mail" type="text">
		                </div>
						<div class="member_box_text3">
		                	手機：
		                	<input  class="member_box_input" name="m_register_phone" type="text">
		                </div>
		                <!--<div class="member_box_text3">
		                	非機器人認證：
		                	<input  class="member_box_input" name="m_usercheck" type="text">
		                </div>-->
		
		                <div class="member_box_text3">
		                	使用條例：
		                	<div  class="member_box_usetext">我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範我同意使用條例的規範</div>
		                </div>
		                <div class="member_box_text3">
		                	我同意使用條例的規範:
		                	<input  class="member_box_input" name="m_register_yes" type="checkbox">
		                </div>
			            <div class="clear"></div>   
				        <div class="all_button">
				            <button type="button" class="button_red" onclick="SendRegisterData()">確認送出</button>
				        </div>
			       	</form>
				</div>
				<div class="member_box_bottom"></div>
			</div>
			<div class="member_box_bg"></div>
			<div id="wrap_top">
				<div id="logopic">
					<img src="/public/images/logo.png">
				</div>
				<ul>
					<a href="/front"><li>首頁</li></a>
					<a href="/front/firmSearch"><li>搜尋機構</li></a>
					<a href=""><li>合作夥伴</li></a>
					<a href=""><li>未來展望</li></a>
					<a href=""><li>常見問題</li></a>
				</ul>
				<div id="member">
					<% if(Login==null){%>
						<span id="login"><a>登入</a></span>
						<span id="register"><a>註冊</a></span>
					<% }else{ %>
						<span id="backstage"><a><%= Login%></a></span>
						<span id="logout"><a>登出</a></span>
					<% } %>
				</div>
				<div class="clear"></div>
			</div>
			<div id="wrap_top_hide"></div>
			<% Include.forEach(function(IObject){ %>
				<%- include(IObject.url,{value:IObject.value}) %>
			<% }); %>
			<div class="clear"></div>
			<div id="white_box"></div>
	        <div id="side">
			    <a href="">
			    	<!--<img src="/public/images/side_message.png">-->
			    </a>
			</div>
		</div>
		<div class="clear"></div>
        <div id="white_box"></div>
        <div id="footer">
			<div class="footer_text1">
		        地址：722 台南市佳里區佳南路532號<br>
		        電話：06-7228331 <br>傳真：06-7230786
			</div>
		    <div class="footer_text2">
		    	<span class="service_tele">消費者服務專線：0800-258998</span><br>
		        <span class="service_mail">信箱：<a href="mailto:tn28819262@yahoo.com.tw">tn28819262@yahoo.com.tw</a></span>
		    </div>
		    <div class="clear"></div>
		    <div id="copyright">
				<img id="footerpic" src="/public/images/footer.png" alt="">
			</div>
		</div>
	</body>
</html>