<div id="search_wrap">
	<div id="search_wrap_left">
		<div class="search_item">
			<div class="search_item_div_left"></div>
			<div class="search_item_div_right">
				<div class="search_item_top">
					<div class="search_item_titlescore"><font class="item_text1" id="firm_level"></font></div>
					<div class="search_item_titlediv"><font class="item_text1"><%= value.firm.title %></font></div>
					<div class="clear"></div>
				</div>
				<div class="search_item_middle">
					<div class="pic_left_textdiv">
						<dl>
							<dt><font class="item_text1">編號:</font></dt><dd><font class="item_text3b"><%= value.firm.no %></font></dd>
							<dt><font class="item_text1">所在縣市:</font></dt><dd><font class="item_text3b" id="firm_city"></font></dd>
							<dt><font class="item_text1">所在鄉鎮:</font></dt><dd><font class="item_text3b" id="firm_ctry"></font></dd>
							<dt><font class="item_text1">地址:</font></dt><dd><font class="item_text3b"><%= value.firm.addr %></font>
							<dt><font class="item_text1">市話:</font></dt><dd><font class="item_text3b"><%= value.firm.phone %></font></dd>
							<dt><font class="item_text1">平均價位:</font></dt><dd><font class="item_text3b"><%= value.firm.price %></font></dd>
						</dl>
					</div>
					<div class="search_item_pic"><img src="/public/images/example.jpg"></div>
					<div class="clear"></div>
					<div class="search_item_textdiv"><font class="item_text2">其他相關資訊:</font></div>
					<div class="search_item_textdiv"><font class="item_text2">傳真:</font><font class="item_text3"><%= value.firm.fax %></font></div>
					<div class="search_item_textdiv"><font class="item_text2">功能分類:</font><font class="item_text3" id="firm_type"></font></div>
					<div class="search_item_textdiv"><font class="item_text2">長照2.0類型分類:</font><font class="item_text3" id="firm_type2"></font></div>
					<div class="search_item_textdiv" id="firmView"></div>
				</div>
				<div id="chat_and_replay">
				    <% value.guestBook.forEach(function(gb,index){ %>
                        <div class="chat_text <%= index%2==0 ? "bg_grey" : "" %>">
                            <div class="userid"><%= gb.Name%>:</div>
                            <div class="usertext" id="data_<%= gb.NO%>"></div>
							<div class="pmdiv">
								<textarea class="pmreply" id="reply_text_<%= gb.NO%>" style="resize: none;overflow: auto;" rows="10" cols="50"></textarea>
	                           	<% if(gb.reply != null){%>
									<div class="pmid" id="pmid_<%= gb.NO%>">官方回覆:</div>
									<div class="pmtext" id="reply_<%= gb.NO%>"></div>
									<% if(value.isManger){ %>
										<center>
											<button onclick="pm_click(<%= gb.NO%>,true)" id="pmreply_<%= gb.NO%>" class="button_blue">修改</button>
											<button onclick="pm_click_cancel(<%= gb.NO%>,true)" id="pmreply_cancel_<%= gb.NO%>" class="button_blue pmreply_cancel_button">取消</button>
										</center>
									<% } %>
								<% }else{ %>
									<% if(value.isManger){ %>
										<center>
											<button onclick="pm_click(<%= gb.NO%>,false)" id="pmreply_<%= gb.NO%>" class="button_blue">回覆</button>
											<button onclick="pm_click_cancel(<%= gb.NO%>,false)" id="pmreply_cancel_<%= gb.NO%>" class="button_blue pmreply_cancel_button">取消</button>
										</center>
									<% } %>
								<% } %>
							</div>
                        </div>
                    <% }); %>
                </div>
				<div class="search_item_bottom">
					<div class="guestComment">
						<div class="search_item_textdiv"><font class="item_text2">留言板:</font></div>
				        <textarea id="CommentMessage" style="resize: none;overflow: auto;" rows="10" cols="50"></textarea>
				    </div>
				    <center><button onclick="commentSumit()" type="submit" class="button_red">發送</button></center>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div id="search_wrap_right">
		<div id="other_div">
			<div class="other1">
				<div class="div_top"></div>
				<div class="wrap">
				<p>最新消息</p>
				<div>xxx</div>
				</div>
			</div>
			<div class="other2">
				<div class="div_top"></div>
				<div class="wrap">
				<p class="item_text1">想找機構、看護、照服員？</p>
				<p class="item_text1">好的，請交給我們!</p>
				<p class="item_text3">XXXXXX@XXXXX.XXX.XXX</p>
				</div>
			</div>
		</div>
		<div id="FB_div">
			<div id="FB_div_top"></div>
			<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FJackyleedesign%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
		</div>
	</div>
	<div class="clear"></div>
	<div class="color_div"></div>
</div>
<script>
    $(document).ready(function(){
        var typeA = ["安養機構","養護機構","長期照顧中心","護理之家"];
        var type2A = ["A.社區整合服務中心","B.複合型日間照護中心","C.巷弄長照站"];
        var level = ["優","甲","乙","丙"];
        $("#firm_type").text(typeA[<%= value.firm.type%>]);
        $("#firm_type2").text(type2A[<%= value.firm.type2%>]);
        $("#firm_level").text(level[<%= value.firm.level%>]);
        $("#firmView").html(decodeURIComponent('<%= value.firm.html %>'));
        $("#firm_city").text(TAR.getCity(<%= value.firm.city %>));
        $("#firm_ctry").text(TAR.getCountry(<%= value.firm.city %>,<%= value.firm.ctry %>));
        <% value.guestBook.forEach(function(gb){ %>
            <% if(gb.data!=null){%>
                $("#data_<%= gb.NO%>").html(decodeURIComponent('<%= gb.data%>').replace(/\r\n|\n/g,"<br/>"));
            <% }%>
            <% if(gb.reply!=null && gb.replyStatus==1){ %>
                $("#reply_<%= gb.NO%>").html(decodeURIComponent('<%= gb.reply%>').replace(/\r\n|\n/g,"<br>"));
            <% } %>
        <% }); %>
    });           
    function commentSumit(){
        $.post("/front/firm/commentSumit",{
            Message:encodeURIComponent($("#CommentMessage").val()),
            firmNO:<%= value.firm.ID%>
        },function(status){
            if(status == "success") location.reload();
            else toastr.error( '',status, {
                    "positionClass": "toast-bottom-full-width",
    				"timeOut": "3000",
    				"closeButton": true
    			});
        },"html");
    }
    function pm_click(id,status){
    	if($("#pmreply_"+id).text() == "送出"){
    		editReply(id)
    	}else{
    		if(status) {
	    		$("#reply_"+id).fadeOut();
	    		$("#pmid_"+id).fadeOut();
	    		$("#reply_text_"+id).val($("#reply_"+id).html().replace(/<br>/g,"\n"));
	    	}
	    	$("#pmreply_"+id).text("送出");
			$("#reply_text_"+id).slideDown();
			$("#pmreply_cancel_"+id).fadeIn();
    	}
	}
	function pm_click_cancel(id,status){
		$("#reply_text_"+id).slideUp();
		$("#pmreply_cancel_"+id).fadeOut();
		if(status) {
    		$("#reply_"+id).fadeIn();
    		$("#pmid_"+id).fadeIn();
    		$("#pmreply_"+id).text("修改");
    	}else{
    		$("#pmreply_"+id).text("回覆");
    	}
	}
    function editReply(commentNO){
		$.post("/front/firm/reply",{
        	Message:encodeURIComponent($("#reply_text_"+commentNO).val()),
            GusetBookNO:commentNO
		},function(status){
        	if(status == "success") location.reload();
            else toastr.error( '',status, {
            		"positionClass": "toast-bottom-full-width",
        			"timeOut": "3000",
        			"closeButton": true
        		});
        },"html");
    }
    function deleteReply(commentNO){
        $.post("/firm/deleteReply",{
            GusetBookNO:commentNO
        },function(status){
            if(status == "success") location.reload();
            else toastr.error( '',status, {
                    "positionClass": "toast-bottom-full-width",
    				"timeOut": "3000",
    				"closeButton": true
    			});
        },"html");
    }
</script>
