政府登記編號:<input type="text" id="firm_no" value="<%= value.no%>"/><br/>
名稱:<input type="text" id="firm_title" value="<%= value.title%>"/><br/>
地址(縣市):<select id="firm_city"></select><br/>
地址(鄉鎮):<select id="firm_country"></select><br/>
地址(結尾):<input type="text" id="firm_address" value="<%= value.addr%>"/><br/>
市話:<input type="text" id="firm_phone" value="<%= value.phone%>"/><br/>
傳真:<input type="text" id="firm_fax" value="<%= value.fax%>"/><br/>
<textarea id="editer_area"></textarea>
<button onclick="preview()">預覽</button><br />
<script>
    $(document).ready(function(){
        $("#editer_area").html(decodeURIComponent("<%= value.html%>"));
        editerInit();
        //縣市選擇
        TAR.getCitys().forEach(function(cityValue,index){
            $("#firm_city").append("<option value='"+index+"'>"+cityValue+"</option>");
        });
        //鄉鎮隨縣市變換而改變
        $("#firm_city").change(function(){
            $("#firm_country").empty();
            TAR.getCountrys($("#firm_city").val()).forEach(function(countryValue,index){
                $("#firm_country").append("<option value='"+index+"'>"+countryValue+"</option>");
            });
        });
        //預設值
        <% if(value.city!=null){ %>
            $("#firm_city").val(<%= value.city%>).change();
        <% }else{ %>
            $("#firm_city").val(0).change();
        <% } %>
        <% if(value.ctry!=null){ %>
            $("#firm_country").val(<%= value.ctry%>).change();
        <% }else{ %>
            $("#firm_country").val(0).change();
        <% } %>
    });
    function editerInit(){
        tinymce.init({
            selector: 'textarea',
            height: 500,
            menubar: false,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table contextmenu paste code'
            ],
            automatic_uploads: true,
            images_upload_url: '/firmManger/uploadNewsImage',
            file_picker_types: 'image', 
            file_picker_callback: function(cb, value, meta) {
                var input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');
                input.onchange = function() {
                    var file = this.files[0];
                    var id = 'blobid' + (new Date()).getTime();
                    var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                    var blobInfo = blobCache.create(id, file);
                    blobCache.add(blobInfo);
                    cb(blobInfo.blobUri(), { title: file.name });
                };
                input.click();
            },
            resize: false,
            language: 'zh_TW',
            toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            content_css: '//www.tinymce.com/css/codepen.min.css'
        });
    }
    function preview() {
        var html = encodeURIComponent(encodeURIComponent(tinymce.activeEditor.getContent()));
        location.href = "./preview?" + "title=" + $("#firm_title").val()
            + "&no=" + $("#firm_no").val()
            + "&city=" + $("#firm_city").val()
            + "&ctry=" + $("#firm_country").val()
            + "&addr=" + $("#firm_address").val()
            + "&phone=" + $("#firm_phone").val()
            + "&fax=" + $("#firm_fax").val()
            + "&html=" + html
            + "&action=<%= value.action%>";
    }
    
</script>