機構編號:<%= value.no %><br>
機構名稱:<%= value.title %><br>
機構所在縣市:<a id="firm_city"></a><br>
機構所在鄉鎮:<a id="firm_ctry"></a><br>
機構地址:<%= value.addr %><br>
機構市話:<%= value.phone %><br>
機構傳真:<%= value.fax %><br>
<div id="firmView"></div>
<div id="guestBook">
    <div class="guestHead">
        <h1 align='center'>留言板</h1>
    </div>
    <div class="guestFloor">
        <div class="floorHead">
            <p>留言者:</p>
            <p>留言時間:</p>
            <div>內容:</div>
        </div>
    </div>
</div>
<button onclick="editSumit()">確認</button>
<button onclick="history.go(-1)">返回</button>
<script>
    $(document).ready(function(){
        $("#firmView").html(decodeURIComponent('<%= value.html %>'));
        $("#firm_city").html(TAR.getCity(<%= value.city %>));
        $("#firm_ctry").html(TAR.getCountry(<%= value.city %>,<%= value.ctry %>));
    });
    function editSumit() {
        $.post('/firmManger/editSumit', {
            no: "<%= value.no%>",
            title: "<%= value.title%>",
            city: "<%= value.city%>",
            ctry: "<%= value.ctry%>",
            addr: "<%= value.addr%>",
            phone: "<%= value.phone%>",
            fax: "<%= value.fax%>",
            html: "<%=value.html%>",
            action: '<%= value.action%>'
        }, function (status) {
            if (status == "success") location.href = "./";
        });
    }
</script>