機構編號:<%= value.no %><br>
機構名稱:<%= value.title %><br>
機構所在縣市:<a id="firm_city"></a><br>
機構所在鄉鎮:<a id="firm_ctry"></a><br>
機構地址:<%= value.addr %><br>
機構市話:<%= value.phone %><br>
機構傳真:<%= value.fax %><br>
<div id="firmView">
</div>
<script>
    $(document).ready(function(){
        $("#firmView").html(decodeURIComponent('<%= value.html %>'));
        $("#firm_city").html(TAR.getCity(<%= value.city %>));
        $("#firm_ctry").html(TAR.getCountry(<%= value.city %>,<%= value.ctry %>));
    });              
</script>